[;;;; As defined for Schema Voyager

 {:db/ident       :db.schema.collection/name
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc         "The name of a collection. Can be any keyword, but usually matches the namespace of other idents in the schema."}
 {:db/ident       :db.schema.collection/type
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc         "The type of a collection, either :aggregate or :enum."}
 {:db/ident       :db.schema/deprecated?
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc         "Supplemental property of an attribute. Whether this attribute or constant has fallen out of use. Often used with :db.schema/see-also, to point to a new way of storing some data."}
 {:db/ident       :db.schema/see-also
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "Supplemental property of an attribute. Other attributes to which this attribute is related. Often used with :db.schema/deprecated? to point to a new way of storing some data."}
 {:db/ident       :db.schema/part-of
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "Supplemental property of an attribute. Which collection(s) this attribute or constant is a part of. Usually derived from the namespace of the ident and whether it has a :db/valueType. Can be overridden for an attribute that is used on many aggregates, or whose namespace differs from the entities on which it appears."}
 {:db/ident       :db.schema/references
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "Supplemental property of an attribute. Which collection(s) this attribute refers to."}
 {:db/ident       :db.schema/tuple-references
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "Supplemental property of an attribute. Which collection(s) various parts of this heterogeneous tuple refers to."}
 {:db/ident       :db.schema.tuple/position
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc         "The position of a ref within a heterogeneous tuple. Zero-indexed."}

 ]
