{:paths   ["src" "resources"]
 :deps    {datascript              {:mvn/version "0.18.10"}
           metosin/reitit-frontend {:mvn/version "0.3.10"}
           reagent                 {:mvn/version "0.10.0"}
           thheller/shadow-cljs    {:mvn/version "2.8.91"}
           metasoarous/oz          {:mvn/version "1.6.0-alpha6"}}
 :aliases {:ingest  {:extra-paths ["dev"]}
           :datomic {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.78"}}}
           :export  {:extra-paths ["dev"]
                     :extra-deps  {hiccup {:mvn/version "2.0.0-alpha2"}}}}}
