/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

/* https://every-layout.dev/layouts/stack/ */

.stack > * + * {
    @apply mt-6;
}

